<!DOCTYPE html>
<html lang="en" class="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Bike Store</title>
    <link rel="shortcut icon" href="/logo-and-icons/logo-website.png">

    <style>
        .html {
            font-family: 'Poppins', sans-serif;
        }

        .body {
            margin: 0;
        }

        .header {
            width: 100%;
            height: 75px;
            box-shadow: 0px 2px 5px rgb(160, 160, 160);
            background-color: #fff;
        }

        .logo {
            margin: 0;
            position: absolute;
            height: 60px;
            width: 60px;
            background-image: url(/logo-and-icons/logo-website.png);
            background-size: cover;
            background-position: center;
        }

        .logo-position {
            margin: 7.5px 0 7.5px 50px;
        }

        .main-logo {
            height: 60px;
            width: 60px;
        }

        .regIcon {
            position: absolute;
            background-image: url(/logo-and-icons/user.png);
            height: 20px;
            width: 20px;
            background-size: cover;
            background-position: center;
        }

        .contactIcon {
            position: absolute;
            background-image: url(/logo-and-icons/phone-call.png);
            height: 20px;
            width: 20px;
            background-size: cover;
            background-position: center;
        }

        .regIconPosition {
            margin: 27.5px 50px 27.5px 1400px;
        }

        .contactIconPosition {
            margin: 27.5px 50px 27.5px 1450px;
        }

        .allGoods {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .goods_card-1 {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 15px;
            width: 30%;
            background-color: #dfd7d7;
            border-radius: 10px;
        }

        .goods_card-2 {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 15px;
            width: 30%;
            background-color: #dfd7d7;
            border-radius: 10px;
        }

        .goods_card-3 {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 15px;
            width: 30%;
            background-color: #dfd7d7;
            border-radius: 10px;
        }

        .roadBikePhoto {
            height: 60%;
            width: 80%;
            box-shadow: 0px 2px 5px rgb(160, 160, 160);
            margin-top: 10px;
            border-radius: 10px;
        }

        .roadBikePhoto-2 {
            height: 70%;
            width: 80%;
            box-shadow: 0px 2px 5px rgb(160, 160, 160);
            margin-top: 10px;
            border-radius: 10px;
        }

        .roadBikePhoto-3 {
            height: 80%;
            width: 80%;
            box-shadow: 0px 2px 5px rgb(160, 160, 160);
            margin-top: 10px;
            border-radius: 10px;
        }

        .title {
            margin: 10px 0 0;
        }

        .priceRoadBike {
            margin: 10px 0 10px;
        }

        .buyRoadBike {
            height: 30px;
            width: 70px;
            border-radius: 10px;
            cursor: pointer;
        }

        .cart-container {
            position: fixed;
            top: 0;
            right: 0;
            width: 300px;
            height: 100%;
            background-color: #fff;
            box-shadow: -2px 0px 5px rgb(160, 160, 160);
            overflow-y: auto;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;

        }

        .cart-container.show {
            transform: translateX(0);
        }

        .cart-header {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .cart-total {
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
        }

        .close-cart {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .clear-cart {
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            color: blue;
        }

        .cartIcon {
            position: absolute;
            background-image: url(/logo-and-icons/shopping-cart.png);
            height: 20px;
            width: 20px;
            background-size: cover;
            background-position: center;
            margin: 27.5px 50px 27.5px 1350px;
        }

        .cart-count {
            text-align: center;
            font-size: 10px;
            font-weight: 500;
            position: absolute;
            text-decoration: none;
            height: 12px;
            width: 12px;
            background-color: red;
            color: white;
            margin: 24px 50px 27.5px 1360px;
            border-radius: 50%;
        }

        .highlight {
            background-color: #ffffff;
            border: solid 2px;
        }

        .confirmation-popup {
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 999;
        }

        .confirmation-popup button {
            margin-top: 10px;
            cursor: pointer;
        }

        .notification {
            display: none;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            background-color: #2f2f2f;
            color: white;
            font-size: 16px;
            text-align: center;
            z-index: 1000;
            border: solid 2px;
            border-radius: 30px;
        }

        .inputSearch {
            line-height: 75px;
            margin-left: 920px;
        }

        .searchButton {
            height: 25px;
            border-radius: 20px;
        }

        .input {
            height: 20px;
            border-radius: 20px;
        }

        .center-confirm-popup {
            display: flex;
            justify-content: center;
        }
    </style>

</head>

<body class="body">
    <header class="header">
        <a href="/home" class="main-logo">
            <div class="logo logo-position"></div>
        </a>

        <a href="/register" class="link regIconLink">
            <div class="regIcon regIconPosition "></div>
        </a>

        <a href="/redirectToContacts" class="link regIconLink">
            <div class="contactIcon contactIconPosition"></div>
        </a>

        <a href="#" onclick="toggleCart()">
            <div class="cartIcon"></div>
            <span id="cartCount" class="cart-count">0</span>
        </a>

        <div class="inputSearch">
            <label for="searchInput">Search Product:</label>
            <input type="text" id="searchInput" class="input">
            <button id="searchButton" class="searchButton" onclick="searchProduct()">Search</button>
        </div>
    </header>

    <div class="allGoods">
        <div class="goods_card-1">
            <img src="https://veliki.com.ua/files/2019/12_26/13_20/u_files_store_41_11900.jpg" alt="Road Bike"
                class="roadBikePhoto">
            <h2 class="title">Road Bike "Giant"</h2>
            <h3 class="priceRoadBike">500$</h3>
            <button class="buyRoadBike" onclick="addToCart('Road Bike Giant', 500)">Buy</button>
        </div>

        <div class="goods_card-2">
            <img src="https://www.theproscloset.com/cdn/shop/products/BRD20999_PH1_01.jpg?v=1616814489" alt="Road Bike"
                class="roadBikePhoto roadBikePhoto-2">
            <h2 class="title">Road Bike "Bianchi"</h2>
            <h3 class="priceRoadBike">730$</h3>
            <button class="buyRoadBike" onclick="addToCart('Road Bike Bianchi', 730)">Buy</button>
        </div>

        <div class="goods_card-3">
            <img src="https://velozavr.com.ua/image/data/velosiped/gornie-mtb/8/B-D0-B9-20-D0-BC-202017-1280-1600x1200.jpg"
                alt="Road Bike" class="roadBikePhoto roadBikePhoto-3">
            <h2 class="title">Road Bike "Leon"</h2>
            <h3 class="priceRoadBike">470$</h3>
            <button class="buyRoadBike" onclick="addToCart('Road Bike Leon', 470)">Buy</button>
        </div>
    </div>

    <div class="cart-container">
        <div class="cart-header">
            <span>Goods</span>
            <span class="close-cart" onclick="toggleCart()">✖</span>
        </div>
        <div id="cart-items" class="cart-items">
        </div>
        <div class="cart-total">Total: $<span id="cart-total">0</span></div>
        <div class="clear-cart" onclick="clearCart()">Clear</div>
    </div>

    <div class="center-confirm-popup">
        <div class="confirmation-popup" id="buyConfirmationPopup">
            <p id="confirmationMessage"></p>
            <button onclick="confirmBuy()">Buy</button>
            <button onclick="cancelBuy()">Cancel</button>
        </div>
    </div>


    <div id="notification" class="notification"></div>


    <script src="/modules/confirmationBuy.js"></script>
    <script src="/modules/inputFunctions.js"></script>
    <script src="/modules/goodsBasket.js"></script>
</body>

</html>